.countriesGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 0 2rem;
}

@media (max-width: 1200px) {
  .countriesGrid {
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    justify-items: center;
  }
}
