.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

.flag {
  width: 50%;
}

.details {
  width: 45%;
  display: flex;
  flex-direction: column;
}

.borderCountries {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.borderCountry {
  background: #f0f0f0;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}
