.countryCard {
  display: flex;
  flex-direction: column;
  background-color: var(--component-bg);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  color: var(--text-color);
  width: 320px;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.countryCard:hover,
.countryCard:focus {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.countryCardImg {
  width: 320px;
  height: 168px;
  border-radius: 8px 8px 0 0;
}

.countryCardContent {
  padding: 2rem;
}

.countryCardTitle {
  margin: 1rem 0 0.5rem;
}

.countryCardText {
  margin: 0.5rem 0;
}
